#!/bin/bash

# don't put duplicate lines in the history
export HISTCONTROL=ignoreboth:erasedups

# increase history size
export HISTSIZE=1000000
export HISTFILESIZE=1000000

# local folder
export PATH=$PATH:$HOME/.local/bin

# browser
export BROWSER=google-chrome-stable

# editor
export EDITOR=vim

# agnoster theme
export THEME=$HOME/.bash_agnoster
if [[ -f $THEME ]]; then
  export DEFAULT_USER=`whoami`
  source $THEME
fi
